 html{
    background-image: url(../images/bentley/images_wall.jpegs);
} 
p1 {
    color:white
}

h1 {
    background-color:yellow
}
header {
    background-color:white;
    padding:12px;
    color:white;
    text-align: center;
    font:20px;
}

nav ul {
    list-style-position: None;
    height: 100px;
    width: 1700px;
    text-align-last: center;
;
}
h3 {
    background-color:orangered
}
h1 {
    background-color:orangered
}



a{
    color:whitesmoke
}
nav{
    widows: 31%;
    background-color:gray;
    height:20px;
    display:inline-table

}
/*body{
    background-image: url(../images/bentley/maxresdefault.jpg);
    height: 2000px;
    background-repeat: no-repeat ,repeat;

}*/
/*article{
    width:94%;
    height:850px;
    float:right;
    background-image: url(../images/bentley/maxresdefault.jpg);
    background-repeat: no-repeat ,repeat;

}*/
footer{
    height: 290px;
    width: 1821;
    background-color: black;
    color: white;
    text-align: center;
    
}
img{
    height:399px;

}
/*#an{
    height:300ppx;
}*/
.range{
    height:420px;
    width: 576px;
}
.VW{
    height: 397px;
    width: 579px;
}
.Q5{
    height: 420px;
}

.royce{
    width: 580px;
    height:420px;
}

.bentley{
    width: 572px;
    height:420px;
}

.cheron{
    width: 546px;
    height:420px;
    
}
.a-claas{
    height: 399px;
    width: 671px;
}
.b-claas{
    height: 810px;
    width: 1821px;
}
#my-html{
    background-color: grey;
}
#ange{
    width: 603px;
}
#nge{
    width: 603px;
}
#rolce{
    height: 339px;
    width: 603px;
}
#oyce{
    height: 339px;
    width: 603px;
}
#royce{
    height: 339px;
    width: 603px;
}
#royce-html{
    background-color:grey;
}

.try-container {
    display: none;
}
